:root{
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --bright-blue-hover: hsl(245, 100%, 72%);
  
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  
  --regular: 500;
  --bold: 700;
  --extra-bold: 900;
  }
  
  body{
    font-family: "Red Hat Display", Arial, serif;
    font-weight: var(--regular);
    background-color: var(--pale-blue);
  
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain; /* !!!! contain not cover to get what we need */

    padding: 5rem 1rem;
  }

    /* screen size of from tablet to desktop*/
  @media only screen and (min-width: 48rem){
    body{
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(images/pattern-background-desktop.svg);

      padding: 0;
    }
  }
  
  .card{
    max-width: 28.125rem;
    background-color: white;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0px 20px 20px hsl(226, 63%, 82%);

    margin-inline: auto;
    /* center our card on mobile horizontally */
    /* added padding in the body earlier so our card doesnt take the whole screen
    like a starving man he is */
  }
  
  .hero-image{
    width: 100%;
  }
  
  .card-content{
    padding: 1.875rem 1.5rem 2rem 1.5rem;
  }
  
  .summary-container{
    text-align: center;
  }
  
  .title{
    font-weight: var(--extra-bold);
    color: var(--dark-blue);
  }
  
  .description{
    color: var(--desaturated-blue);
    margin-top: .8125rem;
    font-size: 1.125rem;
  }
  
  .plan-container{
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    padding: 0.9375em 1.0625em;
    font-size: 1rem;
    display: flex;
    align-items: center;
  
    margin-block: 1.625rem;
    width: 100%;
  }

  .music-icon{
    width: 3rem;
  }
  
  .plan-type{
    margin-left: 1.25rem;
  }
  
  .plan-container a{
    margin-left: auto;
    font-size: .8125rem;
    font-weight: var(--bold);
    color: var(--bright-blue);
  }
  
  .plan-container a:hover{
    cursor: pointer;
    color: var(--bright-blue-hover);
    text-decoration: none;
  }
  
  .plan-type p{
    color: var(--desaturated-blue);
  }
  
  button{
    display: block;
    width: 100%;
    border: none;
    font-weight: var(--bold);
    font-size: .875rem;
  }
  
  button:hover{
    cursor: pointer;
  }
  
  .proceed-button{
    margin-bottom: 1.5625rem;
    background-color: var(--bright-blue);
    padding-block: 0.93em;
    border-radius: 10px;
    color: white;
    box-shadow: 0 20px 20px hsla(245, 75%, 52%, 0.15);
  }
  
  .proceed-button:hover{
    background-color: var(--bright-blue-hover);
  }
  
  .cancel-button{
    background-color: transparent;
    color: var(--desaturated-blue);
    font-weight: var(--extra-bold);
  }
  
  .cancel-button:hover{
    color: var(--dark-blue);
  }

  /* px for shadow
  rem for font-size, big paddings/padding on large elements like card content,
  media queries rule, all margins, card's width
  em for small paddings/padding on smaller elements, buttons
  
  thats my conclusion for now im so done testing stuff aaaargh
  stuff depends on the situations but generally iykyk*/